nav {
  height: 120px;
  width: 100%;
  position: fixed; 
  top: 0;
  background-color: #4056A1; 
  color: #FFFFFF; 
  padding: 0 1.5em; 
  box-sizing: border-box; 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  z-index: 1000; /* High z-index to ensure it's always on top */
}

/* Styling for <span> inside <nav> */
nav span {
  font-family: 'Bungee'; 
  font-size: 2em; 
}

/* Write a new tweet text and icon */
nav .write-tweet {
  text-align: center;
  display: flex;
  flex-direction: column; 
  align-items: center;
  font-size: 1em;
}

/* Wrap the text in a single line */
.write-tweet .tweet-text {
  display: inline; 
  white-space: nowrap; 
}

/* Bold "Write" only */
.write-tweet .tweet-text strong {
  font-weight: bold; 
}

/* Style the icon */
.write-tweet i {
  margin-top: 5px; 
  font-size: 1.2em; 
}
